.orderDetails {
  padding: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 40px;
}

.orderName {
  font-size: 40px;
  margin-bottom: 15px;
}

.status {
  color: #00cccc;
}

.ingredientsTitle {
  font-size: 24px;
  margin-bottom: 15px;
}

.ingredientList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ingredient {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.ingredientImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.total {
  margin-top: 40px;
}

.totalPrice {
  font-weight: bold;
}
