/* profile-menu.module.css */
.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Для выравнивания элементов по левому краю */
  padding: 16px;
}

.link {
  width: 100%;
  text-decoration: none;
  color: #8585ad;
  padding: 10px 0; /* Добавляем отступы сверху и снизу для разделения ссылок */
}

.link_active {
  color: #f2f2f3;
}

.button {
  width: 100%;
  text-decoration: none;
  display: block;
  color: #8585ad;
  background-color: unset;
  border: none;
  padding: 10px 0; /* Добавляем отступы сверху и снизу для разделения кнопок */
}

.button:hover {
  cursor: pointer;
}
